.dGrowl-channel {
	z-index: 999;
	position: relative;
	padding: 4px;
	overflow: hidden;
	width: 220px;
}
.dGrowl-notification {
	background-color: #D9EDF7;
    border: 1px solid #BCE8F1;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #333333;

	margin: 5px;
	padding: 5px;
	width: 190px;
	opacity: 0;
	-webkit-transition: margin-left 1.5s ease, opacity 1s linear;
	-moz-transition: margin-left 1.5s ease, opacity 1s linear;
	-o-transition: margin-left 1.5s ease, opacity 1s linear;
	transition: margin-left 1.5s ease, opacity 1s linear;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 5px 5px 12px -10px , 1);
	box-shadow: 5px 5px 12px -10px , 1);

}
.dGrowl-topRight {
	top: 10px;
	right: 5px;
}
.dGrowl-topRight .dGrowl-notification {
	margin-left: 235px;
}
.dGrowl-notification.dGrowl-visible {
	opacity: 0.85;
	margin-left: 0;
	margin-right: 0;
}
.dGrowl-title {
	font-weight: bold;
	font-family: Verdana;
}
.dGrowl-close-btn {
	cursor: pointer;
	float: right;
	margin: 0 4px;
	opacity: 0.4;
	font-size: 18px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: bold;
	font-style: normal;
}
.dGrowl-close-btn:hover {
	opacity: 0.85;
}
